
#title {
	font-family: 'Boogaloo';
	font-size: 50px;
	color: #3b5272;
	font-weight: bold;
	border: 3px solid #3b5272;
}

body {
  font-family: 'Boogaloo';
  font-size: 20px;
  color: red;
  background-color: #ceced8;
}

#dailyList {
	font-family: Georgia;
	font-size: 20px #3b5272;
	border: 2px solid;
}

#family {
	border: 5px solid #3b5272;
	background-color: #d3a493;
}
img.famPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto; }
/*h1{
	font-family: : 'Lobster Two';
	font-size: 30px;
	color: orange;
}*/

h5 {
	font-family: 'Boogaloo';
	font-size: 22px;
	color: #990033;}

h2 {


}

ul { 
	font-family: 'Boogaloo';
	font-size: 14px;
	color: #FF3300;
}

li {


}