
title {
	font-family: 'Lobster Two';
	font-size: 36px;
	color: orange;
}

body {
  font-family: 'Lobster Two';
  font-size: 14px;
  color: red;
  background-color: #FFCCCC;
}

h1{
	font-family: : 'Lobster Two';
	font-size: 30px;
	color: orange;
}

h3 {
	font-family: 'Lobster Two';
	font-size: 22px;
	color: #990033;}

h2 {


}

ul { 
	font-family: 'Lobster Two';
	font-size: 14px;
	color: #FF3300;
}

li {


}